Workflow/wokflow json files/if-gate-workflow.json
[
  {
    "name": "If Gate Example",
    "nodes": [
      {
        "parameters": {
          "path": "if-gate-example",
          "responseMode": "onReceived",
          "options": {}
        },
        "name": "Start",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "if-gate-example"
      },
      {
        "parameters": {
          "values": {
            "string": [],
            "number": [
              {
                "name": "age",
                "value": 20
              }
            ]
          },
          "options": {}
        },
        "name": "Set Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$json[\"age\"]}}",
                "operation": "largerEqual",
                "value2": 18
              }
            ]
          }
        },
        "name": "Check Age",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [600, 300]
      },
      {
        "parameters": {
          "functionCode": "return [{ json: { result: 'YES: Age is 18 or older' } }];"
        },
        "name": "Yes Path",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [800, 200]
      },
      {
        "parameters": {
          "functionCode": "return [{ json: { result: 'NO: Underage' } }];"
        },
        "name": "No Path",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [800, 400]
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "Set Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Data": {
        "main": [
          [
            {
              "node": "Check Age",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Age": {
        "main": [
          [
            {
              "node": "Yes Path",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true
  }
]